h3 {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 34px;
    line-height: 40px;
    margin: 24px 0;
    padding: 0;
}

h5 {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    margin: 24px 0 16px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: .02em;
    padding: 0;
}
