//CSS

$header-height: 70px;
$github-black: rgb(36, 41, 46);
$pink-violet: #ff4081;

@import "commons/resets";
@import "commons/typography";
@import "commons/navbar";
@import "commons/template";
@import "commons/animations";
@import "commons/no-user";
@import "commons/lists";
@import "commons/buttons";
@import "commons/components/snackbar";
@import "pages/home";
@import "pages/user";
@import "pages/repos";
@import "pages/notes";
