#home {
    form {
        position: absolute;
        left: 50%;
        top: 50%;
        margin-top: -24px;
        margin-left: -152px;

        input {
            width: 200px;
            margin-right: 20px;
        }

        button {
            width: 90px;
            display: inline;
            background-color: $github-black;
            color: white;
            margin: 0;
        }
    }
}
