#notes {
    .note-item {
        border-radius: 3px;
        padding: 16px;
        border: 1px #d1d5da solid;
        width: 100%;
        position: relative;

        i {
            cursor: pointer;
            position: absolute;
            top:5px;
            right: 5px;
        }
    }
    form {
        width: 100%;
        .notes-input {
            height: 50px;
            padding: 0 16px;
            outline: none;
            vertical-align: middle;
            width: 85%;
            display: block;
            position: fixed;
            bottom: 0;
            margin: 0;
        }
        button {
            height: 50px;
            outline: none;
            vertical-align: middle;
            width: 15%;
            display: block;
            position: fixed;
            bottom: 0;
            right: 0;
        }
    }
}
