#repos {
    ul li {
        div {
            width: 100%;
            h5 {
                width: 100%;
                text-align: center;
            }
            p {
                width: 100%;
                text-align: center;
            }
        }
    }
}
