#repos {
    padding-top: $header-height;
    width: 100%;

    .pinned-list-item {
        h5 {
            width: 100%;
            text-align: center;
        }
        p {
            width: 100%;
            text-align: center;
        }
    }
}
