#repos {
    position: fixed;
    top: 70px;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
    width: 100%;
    ul li {
        .pinned-repo-item {
            border-radius: 3px;
            padding: 16px;
            border: 1px #d1d5da solid;
            width: 100%;
            cursor: pointer;
            h5 {
                width: 100%;
                text-align: center;
            }
            p {
                width: 100%;
                text-align: center;
            }
        }
    }
}
